.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left:0px;padding:0;border:0;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 18.2px;
  font-weight:lighter;
  color: white;
  padding: 14px 36px;
  text-decoration: none;
  font-family: monospace;
}

.navbar a:hover{
	background-color:#0d0d0d;
	color:#d9d9d9;
}
a.agro{
	font-size: 16px;
	font-family:Georgia;float:right;
}

a.first{
	margin-left:70px;
}

@media (max-width:1440px){

	.navbar a {
		font-size: 16px;
		padding: 14px 36px;
		font-weight:lighter;

	}
}
@media (max-width:1230px){
    .navbar a {
		font-size: 15px;
		font-weight:lighter;
		padding: 13px 34px;
	}
	a.first{
		margin-left:62px;
	}
}
@media (max-width:950px){
    .navbar a {
		font-size: 14px;
		font-weight:lighter;
		padding: 12px 32px;
	}
	a.first{
		margin-left:57px;
	}
}
@media (max-width:868px){
    .navbar a {
		font-size: 13px;
		font-weight:lighter;
		padding: 11px 30px;
	}
	a.first{
		margin-left:52px;
	}
}

@media (max-width:768px){
    .navbar a {
		font-size: 11px;
		font-weight:lighter;
		padding: 10px 29px;
	}
	a.first{
		margin-left:45px;
	}
}
@media (max-width:680px){
	.navbar a {
		font-size: 9px;
		font-weight:lighter;
		padding: 8px 24px;
	}
	a.first{
		margin-left:43px;
	}
}
@media (max-width:620px){
	.navbar a {
		font-size: 9px;
		font-weight:lighter;
		padding: 7px 23px;
	}
	a.first{
		margin-left:42px;
	}
}


@media (max-width:585px){
	.navbar a {
		font-size: 9px;
		font-weight:lighter;
		padding: 7px 22px;
	}
	a.first{
		margin-left:38px;
	}
}
@media (max-width:500px){
	.navbar a {
		font-size: 9px;
		font-weight:lighter;
		padding: 6px 16px;
	}
	a.first{
		margin-left:32px;
	}
}
@media (max-width:400px){
	.navbar a {
		font-size: 7px;
		font-weight:lighter;
		padding: 4px 13px;
	}
	a.first{
		margin-left:13px;
	}
}
@media (max-width:330px){ 
	.navbar a {
		font-size: 7px;
		font-weight:lighter;
		padding: 4px 4px;
	}
	a.first{
		margin-left:8px;
	}
}