								input[type=text] {
									width: 100px;
									background-size: 19px 24px;
									background-position: 6px 7px; 
									background-repeat: no-repeat;
									padding: 10px 10px 10px 35px;
									font-size: 14px;
									box-sizing: border-box;
									border: 2px solid #ccc;
									border-radius: 5px;
									background-color:lightgrey;
									background-image: url('sbicon.png');
									-webkit-transition: width 0.4s ease-in-out;
									transition: width 0.4s ease-in-out;
								}
								.aru {
										float:left;margin-left:5%;
									}
								input[type=text]:focus {
									background-image: url('search-icon-f15e53dfab82e6f70c366493e9151ce3.png');
									background-size: 32px 42px;
									background-position: 0% 0px;
									background-color:#f2f2f2;
									color:black;
									width: 120%;
								}
								
								input[type=text] {
									

									-webkit-transition: width 0.4s ease-in-out;
									transition: width 0.4s ease-in-out;
								}

								input[type=text]:focus {
									width: 70%;
								}
								
								
								
								

@media (max-width:1440px){
	.aru {
	float:left;margin-left:7%;
	}
}
